h1,h2,h3,h4,h5{
  font-weight: 500;
}


.content__title{
  color:$color-blue;
  font-size: 25px;
  text-align: center;
  margin:40px 0px 60px;
  letter-spacing: 2px;
}


.mix__title{
  color:$color-blue;
  line-height: 1.1;
  width:100%;
}
