footer{
  border-top: 1px solid $color-grey-border;
  font-size: 14px;
  margin-top:150px;
  padding: 20px 0px;
  color:$color-grey-text;
  text-align: center;
}

.footer__link{
  color:$color-blue;
  font-weight: 500;
}
