footer{
  border-top: 1px solid $color-grey-border;
  font-size: 0.777777777777778em; /*14/18*/
  margin-top:10.714285714285714em; /*150/14*/
  padding: 1.428571428571429em 0px; /*20/14*/
  color:$color-grey-text;
  text-align: center;
}

.footer__link{
  color:$color-blue;
  font-weight: 500;
}


@media (max-width: 530px){

  footer{
    margin-top:5em;
  }
  .credits__sentence{
    width:90%;
    margin:auto;
  }
}
