.mix__item{
  padding:15px 0px 20px;

  &+&{
    border-top: 1px solid $color-grey-border;
  }
}


.mix__author{
  color:$color-grey-text;
  font-size: 16px;
}

.mix__points, .mix__infos{
  float: left;

}

.mix__infos{
  max-width: 86%;
  position: relative;
  word-break: break-all;
  top:15px;
}
.mix__points{
  text-align: center;
  width:10%;
  margin-right: 4%;
}



.points__total{
  font-weight: 500;
  color:$color-grey-text;
  position: relative;
  left:-1px;
  top:-1px;
}

.vote__form{
  display: inline-block;
}
