.input__text{
  border:1px solid #D8D8D8;
  border-radius: 3px;
  font-size: 0.888888888888889em; /*16/18*/
  padding:0.5625em 0.9375em; /*9/16 15/16*/
  display: block;
  margin-top:1.25em; /*20/16*/
  width: 100%;

}


.form__checkbox{
  border:1px solid darken($color-grey-border,20%);
}
.form__label{
  display: block;
  color:$color-grey-text;
}


.form__part{
    width: 100%;
  &+&{
    margin-top:1.944444444444444em; /*35/18*/
  }
}

.form__submit{
  margin-top:1.666666666666667em; /*30/18*/
}


.alert__container{

  padding:0.833333333333333em 1.111111111111111em; /*15/18 20/18*/
  border-radius: 4px;
  margin-bottom:2em;
}

.alert--error{
  background: rgba(red,0.15);
  color:darken(red,0.4);
  border:1px solid darken(red,0.1);
}

.alert--success{
  background: rgba(green,0.2);
  color:darken(green,0.15);
  border:1px solid green;
}

.alert__message{
  font-weight: 500;
  margin-bottom:1em;
}

.alert__item{
  font-size: 0.888888888888889em; /*16/18*/
  line-height: 1.6;
}



@media (max-width: 550px){
  .vote__form{
    width:14px;
  }


  .form__label{
    font-size:0.833333333333333em; /*15/18*/
  }

}
