.wrapper{
  width:1000px;
  margin:0px auto;
}

.wrapper--large{
  width:90%;
  margin:0px auto;
}

.wrapper--form{
  width: 500px;
  margin:0px auto;
}

.wrapper--texts{
  width: 700px;
  margin:0px auto;
}

.wrapper--error{
  text-align: center;
}


@media (max-width: 1050px){
  .wrapper{
    width:90%
  }
}

@media (max-width: 750px){
  .wrapper--texts{
    width:90%
  }
}


@media (max-width: 550px){
  .wrapper--form{
    width:90%;
    margin-top:2em;
  }
}
