.wrapper{
  width:1000px;
  margin:0px auto;
}

.wrapper--large{
  width:90%;
  margin:0px auto;
}

.wrapper--form{
  width: 500px;
  margin:0px auto;
}

.wrapper--texts{
  width: 700px;
  margin:0px auto;
}
